*.class

# Package Files #
*.jar
*.war
*.ear
Visulaliser/build.xml
Visulaliser/.classpath
Visulaliser/.project
Visulaliser/build/
Visulaliser/nbProject/

*.mf
app/.project
app/project.properties
app/bin/
app/gen/

Visulaliser/lib/nblibraries.properties
